html {
    font-size: 62.5%; 
   }
   /* stripping of styles */
   body,
   ul,
   h1,
   h2,
   h3
   p {
       margin: 0;
       padding: 0;
   }

   ul {
       list-style: none;
   }

   a {
       text-decoration: none;
       text-transform: uppercase;
   }
   img {
       width: 100%;
       height: auto;
       display: block;
   }
   .wrapper{
       max-width: 1200px;
       margin: 0 auto;
       width:85%;
   }

   body{
<<<<<<< HEAD
       background-color:red;
       font-family: 'Press Start 2P', cursive, Arial;
=======
       background-color:yellow;
       font-family: 'Press Start 2P', cursive;
>>>>>>> c7c5a544a48f5fafacbfe81bd3668e254afb9eb9
       line-height: 7.5rem;
       margin-top:150px;
   }

<<<<<<< HEAD
header .wrapper {
    width: 60%;
    background-color: white;
    padding: 30px;
    border: 5px solid blue;
    box-shadow: 5px 5px 0 black;
}
=======
>>>>>>> c7c5a544a48f5fafacbfe81bd3668e254afb9eb9
